{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "description": "CKF Charms uptime",
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 1,
  "id": null,
  "iteration": 1643370954936,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": "${prometheusds}",
      "fieldConfig": {
        "defaults": {
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 0
              },
              {
                "color": "green",
                "value": 0.95
              }
            ]
          },
          "color": {
            "mode": "thresholds"
          },
          "unit": "percentunit"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 0
      },
      "id": 30,
      "options": {
        "reduceOptions": {
          "values": false,
          "calcs": [
            "lastNotNull"
          ],
          "fields": ""
        },
        "orientation": "auto",
        "textMode": "auto",
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "center"
      },
      "pluginVersion": "9.5.3",
      "targets": [
        {
          "datasource": "${prometheusds}",
          "editorMode": "code",
          "expr": "avg_over_time(up{juju_model="kubeflow"}[5m])",
          "instant": false,
          "legendFormat": "{{juju_application}}",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Panel Title",
      "type": "stat"
    },
  ],
  "refresh": "1m",
  "schemaVersion": 33,
  "style": "dark",
  "tags": [
    "ckf"
  ],
  "templating": {
    "list": [
    ]
  },
  "time": {
    "from": "now-3h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "CKF Charms",
  "version": 7,
  "weekStart": ""
}
